html {
    color: var(--txt-clr);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: var(--txt-size);
}

button {color: var(--txt-clr); font-size: var(--txt-size)}
button:hover {font-size: 0.95rem;}
input {color: var(--txt-clr);}