@import url("vars.css");

html {
    background-color: var(--bkg-clr);
    color: var(--txt-clr);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: var(--txt-size);
}

main {
    width: var(--width);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding);
    padding-bottom: 30px;
    border: var(--border) dotted var(--txt-clr);
    border-radius: var(--border-rds);
}

hr {
    width: var(--width);
}

button {
    color: var(--txt-clr);
    background-color: var(--surface);
    border: none;
    padding: var(--padding);
    border-radius: var(--border-rds);
}

button:hover {
    font-size: 1.05rem;
    cursor: pointer;
}

img {
    max-width: 10vh;
}

input {
    background-color: var(--surface);
    padding: var(--padding);
    border: none;
    color: var(--txt-clr);
    border-radius: var(--border-rds);
}
