html {
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1rem;
}

main {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    padding-bottom: 30px;
    border: 1.5px dotted white;
    border-radius: 15px;
}

hr {
    width: 40%;
}

button {
    color: #ffffff;
    background-color: #3f3f3f;
    border: none;
    padding: 10px;
    border-radius: 15px;
}

button:hover {
    font-size: 1.05rem;
    cursor: pointer;
}

img {
    max-width: 10vh;
}

input {
    background-color: #3f3f3f;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 15px;
}
